<md-dialog aria-label='dossier regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Document Number</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class='md-dialog-content'>
             <!--on-update='$ctrl. updateDocNumType("documentnumbertype", value)' -->
        <select-input-extensible label='"Document Number Type"' select-value='$ctrl.node.documentnumbertype' 
               
                on-update='$ctrl. update("documentnumbertype", value)'
                values='$ctrl.picklists.documentNumberTypeOptions' 
                type-name='EXTENSION_TYPE_DOCUMENT_NUMBER_TYPE' 
                on-add='$ctrl.createPicklistItem("documentnumbertype", "documentNumberTypeOptions", value)'>
        </select-input-extensible>
        <!--on-update='$ctrl.updateDocNumType("identifier", value)'-->
        <text-input label='Identifier' text-value='$ctrl.node.identifier' on-update='$ctrl.update("identifier", value)'></text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>