<md-dialog aria-label='dossier regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{'dossierregulartoryauthorities' | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <select-input label='{{"receiver" | translate}}' main='shortname' select-value='$ctrl.node.toSpecificForRAId' values='$ctrl.receivers' on-update='$ctrl.update("toSpecificForRAId", value)'></select-input>        
        <select-input-extensible label='{{"regulatorytype" | translate}}' 
          select-value='$ctrl.node.regulatorytype' 
          values='$ctrl.picklists.regulatoryTypes'
          type-name='EXTENSION_TYPE_REGULATORY_TYPE' 
          on-update='$ctrl.update("regulatorytype", value)'
          on-add='$ctrl.createPicklistItem("regulatorytype", "regulatoryTypes", value)'
          >
        </select-input-extensible>
        <select-input-extensible label='{{"applicationtype" | translate}}' 
          select-value='$ctrl.node.applicationtype' 
          values='$ctrl.picklists.applicationTypes' 
          type-name='EXTENSION_TYPE_APPLICATION_TYPE' 
          on-add='$ctrl.createPicklistItem("applicationtype", "applicationTypes", value)'
          on-update='$ctrl.update("applicationtype", value)'>
        </select-input-extensible>
        <text-input label='{{"projectidnumber" | translate}}' is-required='false' text-value='$ctrl.node.projectidnumber' on-update='$ctrl.update("projectidnumber", value)'></text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>{{"okey" | translate}}</md-button>
      <md-button ng-click='$ctrl.cancel()'>{{"cancel" | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>