<md-dialog aria-label='dossier regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Dossier RA</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <select-input-extensible label='Regulatory Type' 
          select-value='$ctrl.node.regulatorytype' 
          values='$ctrl.picklists.regulatoryTypes' 
          on-update='$ctrl.update("regulatorytype", value)'
          >
        </select-input-extensible>
        <select-input-extensible label='"Application Type"' 
          select-value='$ctrl.node.applicationtype' 
          values='$ctrl.picklists.applicationTypes' 
          on-update='$ctrl.update("applicationtype", value)'>
        </select-input-extensible>
        <text-input label='Project Id' is-required='false' text-value='$ctrl.node.projectidnumber' on-update='$ctrl.update("projectidnumber", value)'></text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>