<div>
  <div class='splash-wrapper'>
    <div class='title'>
      <h1>eDossier Builder</h1>
    </div>
    <div class='cards'>
      <div>
      <card label='Manage Dossiers' icon='description' color='dark' ui-sref='home'></card>
      <card label='Manage Application Data' icon='folder' color='dark' ui-sref='globals.legalEntities'></card>
      </div>
      <div>
      <card label='Settings' icon='settings' color='dark' ui-sref='settings'></card>
      <card label='Help' icon='help_outline' color='dark' ui-sref='help'></card>
      </div>
      <!--<md-card class='button' ui-sref='home'>
        <md-card-title>
          <md-card-title-text>
            <span>MANAGE DOSSIERS</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <md-card class='button' ui-sref='globals.legalEntities'>
        <md-card-title>
          <md-card-title-text>
            <span>MANAGE APPLICATION DATA</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <md-card class='button' ui-sref='settings'>
        <md-card-title>
          <md-card-title-text>
            <span>SETTINGS</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <md-card class='button'ui-sref='help'>
        <md-card-title>
          <md-card-title-text>
            <span>HELP</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>-->
    </div>
  </div>
  <p class='status'><md-icon md-svg-icon='pmra_green' aria-label='pmra logo'></md-icon>Build 1.0.15</p>
</div>