splash, splash > div {
  height: 100%;
  padding: 0;
}

splash {
  background: url('../../img/pmra_green_leaf.svg') no-repeat center center fixed;
  background-size: cover;
}

md-card.button {
  :hover {
    cursor: pointer;
  }

  text-align: center;
  align-self: center;
}

.splash-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 300px) {
  .splash-wrapper {
    display: block;
  }
}

.splash-wrapper > .title {
  flex: 1;
  padding: 10px;
  display: block;
  margin: auto;
  text-align: center;
}

.splash-wrapper > .cards {
  text-align: center;
  flex: 4;
}

p.status {
  position: absolute;
  bottom: 0;
  left: 10px;
}

p.status md-icon {
  vertical-align: text-bottom;
  width: 1.2em;
  height: 1.2em;
  margin: 0 5px;
}

.cards {
  align-content: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}