<div layout-padding>
  <md-content>
    <h1 class='center'>eDossier Builder</h1>
    <md-card class='button' ui-sref='home'>
      <md-card-title>
        <md-card-title-text>
          <span>MANAGE DOSSIERS</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card class='button' ui-sref='globals.legalEntities'>
      <md-card-title>
        <md-card-title-text>
          <span>MANAGE APPLICATION DATA</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card class='button' >
      <md-card-title>
        <md-card-title-text>
          <span>OPEN GHSTS VIEWER</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card class='button' ui-sref='settings'>
      <md-card-title>
        <md-card-title-text>
          <span>SETTINGS</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
    <md-card class='button'>
      <md-card-title>
        <md-card-title-text>
          <span>HELP</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </md-content>
  <p>Build 1.5.0 DRAFT</p>
</div>