<div>
  <div class='splash-wrapper'>
    <div class='title'>
      <h1>eDossier Builder</h1>
    </div>
    <div class='cards'>
      <div>
        <card label='Manage Dossiers' icon='folder' color='dark' ui-sref='home'></card>
        <card label='Manage Application Data' icon='storage' color='dark' ui-sref='globals.legalEntities'></card>
      </div>
      <div>
        <card label='Settings' icon='settings' color='dark' ui-sref='settings'></card>
        <card label='Help' icon='help' color='dark' ui-sref='help'></card>
      </div>
    </div>
  </div>
  <p class='status'><md-icon md-svg-icon='pmra_green' aria-label='pmra logo'></md-icon>Build 1.1.0</p>
</div>