<div class='main-layout'>
<toolbar items='$ctrl.toolbarItems'></toolbar>
<section class='flex' layout-padding>
  <tbl-edit
    title='Dossiers'
    items='$ctrl.dossiers'
    projection='$ctrl.dossierProjection'
    default-sort='LAST_MODIFIED'
    default-reverse='true'
    on-select='$ctrl.selectDossier(id, index)'
    on-add='$ctrl.newDossier()'
    on-delete='$ctrl.deleteDossier(index)'
    on-edit='$ctrl.editDossier(index)'
    editable='true'
  ></tbl-edit>
  <tbl-edit
    title='{{$ctrl.dossier.dossierdescriptiontitle || "Submissions"}}'
    items='$ctrl.submissions'
    projection='$ctrl.submissionProjection'
    default-reverse='false'
    on-select='$ctrl.selectSubmission(id, index)'
    on-add='$ctrl.newSubmission()'
    on-delete='$ctrl.deleteSubmission(index)'
    on-view='$ctrl.viewSubmission(index)'
    on-edit='$ctrl.editSubmission(index)'
    viewable='true'
    editable='true'
  ></tbl-edit>
</section>
</div>