<div style="width:100%" layout="column">
    <md-toolbar class="md-whiteframe-z1" layout="row">
        <md-button class="md-warn" aria-label="Home" ng-href="#/home">Home</md-button>
        <h2>
          <span>Document Management</span>
        </h2>
    </md-toolbar>
    <div style="width:100%" layout="row">
        

        <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">            
           
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <!--d-button class="md-raised md-info" ng-click="_ctrl.createLegalEntity()">Add</md-button-->
                <!--<md-button class="md-raised md-primary" ng-click="_ctrl.saveLegalEntity()">Save</md-button>
                <md-button class="md-raised md-danger" ng-click="_ctrl.cancelEdit()">Cancel</md-button>
                <md-button class="md-raised md-warn" ng-click="_ctrl.deleteLegalEntity()">Delete</md-button>      
                <md-button class="md-raised md-primary" ng-click="_ctrl.viewLegalEntityJson()">View LE JSON</md-button>                
                <md-button class="md-raised md-primary" ng-click="_ctrl.viewLegalEntityGHSTS()">View LE GHSTS</md-button> 
                 -->
                
                <md-button class="md-raised md-warn" ng-click="_ctrl.addTestDOC()">Add Sample DOC to DB</md-button>   
                <md-button class="md-raised md-warn" ng-click="_ctrl.initializeDOC()">Initalize DB with Sample GHSTS DOC</md-button>
                
            </section>  
        </div>
   
</div>