  <div class='no-padding no-margin node-title'>
    <span class='tree-options'>
    <icon class='tree-icon' ng-show='!$ctrl.logicaldeleted' icon='$ctrl.addIcon' ng-click='$ctrl.addDocument()'></icon>
    <a class='node-title' ng-click='$ctrl.toggleHidden()'>
      <icon class='tree-icon' ng-show='!$ctrl.isHidden && $ctrl.canExpand()' icon='$ctrl.expandIcon'></icon>
      <icon class='tree-icon' ng-show='$ctrl.isHidden && $ctrl.canExpand()' icon='$ctrl.collapseIcon'></icon>
      </span>
      {{$ctrl.node.nodename}} - {{$ctrl.node.nodeheading}}
    </a>
  </div>
  <ul class='tree-ul' ng-show='!$ctrl.isHidden && $ctrl.node.toc2doc && $ctrl.node.toc2doc.length > 0' class='node-document'>
    <li class='tree-li tree-doc' ng-repeat='doc in $ctrl.node.toc2doc' class='tree-document'>
      <icon class='tree-icon' icon='$ctrl.treeIcon'></icon>{{doc}}
    </li>
  </ul>
  <ul class='tree-ul' ng-show='!$ctrl.isHidden && $ctrl.node.tocnode && $ctrl.node.tocnode.length > 0'>
    <li class='tree-li' ng-repeat='node in $ctrl.node.tocnode'>
      <tree node='node' items='$ctrl.items'></tree>
    </li>
  </ul>