@import '../../../scss/constants';

.tree-ul {
  list-style: none inside none;
  margin: 0;
  padding: 0;
}

.tree-ul:not(:first-child) {
  margin-left: 20px;
}

.node-title {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  line-height: 1.6em;

  :hover {
    cursor: pointer;
  }
}

.tree-icon {
  display: inline-block;
  min-width: 0;
  width: 20px;
  visibility: visible;
  transition: transform 0.2s ease-in-out;
}

.tree-icon.invisible {
  visibility: hidden;
}

.tree-icon.expanded {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.tree-icon svg {
  fill: $dark-icon;
}

.tree-options {
  display: inline-block;
  width: 55px;
  min-width: 55px;
}

.tree-li {
  padding: 0;
  margin: 0;
}

.toggle {
  cursor: pointer;
}