.card-header {
    padding-left: 5px;
}

.anchor-card {
    text-decoration: none;
    color: black;
}

.anchor-card:hover {
    text-decoration: none;
    color: black;
}

.card:hover {
    background-color: #ddd;
}
