<section class='node-page'>
  <text-input label='File PID'></text-input>
  <text-input label='File Company ID'></text-input>
  <select-input label='Content Status' values='[]'></select-input>
  <text-input label='Replaced File PID'></text-input>
  <select-input label='File Type'></select-input>
  <text-input label='Format Comment'></text-input>
  <text-input label='MD5 Checksum'></text-input>
  <text-input label='Filename'></text-input>
  <tbl title='File Regulatory Authority' items='[]' projection='[]'></tbl>
</section>