@import '../../../scss/constants';

.light {
  svg {
    fill: $light;
  }
}

.dark {
  svg {
    fill: $dark;
  }
}

.light.disabled {
  svg {
    fill: $dark;
  }
}

.dark.disabled {
  svg {
    fill: $light;
  }
}

.disabled:hover {
  cursor: not-allowed;
}