<section class='node-page'>
  <sidenav items='$ctrl.records'
          main='shortname'
          is-open='$ctrl.sidenavOpen'
          on-select='$ctrl.updateSelected(item)'
          on-add='$ctrl.add(item)'>
  </sidenav>
  <select-input label='Legal Entity' select-value='$ctrl.tolegalentityid' values='$ctrl.legalEntities' main='legalentityname'></select-input>
  <tbl ng-if='!$ctrl.$scope.$root.loading' title='{{$ctrl.selected.shortname}} Senders' items='$ctrl.selected.sender' projection='["companycontactregulatoryrole", "remark"]' on-select='$ctrl.selectTblItem("sender", index)' on-add='$ctrl.addTblItem("sender")' on-delete='$ctrl.deleteTblItem("sender", index)'></tbl>
  <div class='float-bottom'>
    <md-button aria-label='Delete Item' class='md-fab md-primary' ng-click='$ctrl.delete()'>
      <md-icon md-svg-icon='delete' class='light'></md-icon>
    </md-button>
    <md-button aria-label='Add New Item' class='md-fab md-primary' ng-click='$ctrl.add("receiver")'>
      <md-icon md-svg-icon='add' class='light'></md-icon>
    </md-button>
    <md-button aria-label='Toggle List' class='md-fab md-primary' ng-click='$ctrl.toggleList()'>
      <md-icon md-svg-icon='list' class='light'></md-icon>
    </md-button>
  </div>
</section>