<md-dialog aria-label='contact person' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"contactperson" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <text-input label='{{"title" | translate}}' text-value='$ctrl.node.title' on-update='$ctrl.update("title", value)' max-Length='255'></text-input>
        <text-input label='{{"firstname" | translate}}' text-value='$ctrl.node.firstname' on-update='$ctrl.update("firstname", value)' max-Length='255'></text-input>
        <text-input label='{{"lastname" | translate}}' text-value='$ctrl.node.lastname' on-update='$ctrl.update("lastname", value)' max-Length='255'></text-input>
        <text-input label='{{"phone" | translate}}' text-value='$ctrl.node.phone' on-update='$ctrl.update("phone", value)' max-Length='255'></text-input>
        <text-input label='{{"email" | translate}}' text-value='$ctrl.node.email' on-update='$ctrl.update("email", value)' max-Length='255'></text-input>
        <text-input label='{{"mobile" | translate}}' text-value='$ctrl.node.mobile' on-update='$ctrl.update("mobile", value)' max-Length='255'></text-input>
        <text-input label='{{"fax" | translate}}' text-value='$ctrl.node.fax' on-update='$ctrl.update("fax", value)' max-Length='255'></text-input>
        <text-input label='{{"organisation" | translate}}' text-value='$ctrl.node.organisation' on-update='$ctrl.update("organisation", value)' max-Length='255'></text-input>
        <text-input label='{{"department" | translate}}' text-value='$ctrl.node.department' on-update='$ctrl.update("department", value)' max-Length='255'></text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>