<section class='node-page'>

  <spinner ng-if='$ctrl.loading'></spinner>
  <div class='no-margin no-padding' ng-if='!ctrl.loading'>
        <sidenav items='$ctrl.records' 
                  main='documentgeneric.documenttitle' 
                  is-open='$ctrl.sidenavOpen' 
                  on-select='$ctrl.updateSelected(item)'
                  on-add='$ctrl.add(item)'>
        </sidenav>
        
        <div class='extension-wrapper'>
            <text-input label='PID' is-required='true'  text-value='$ctrl.selected.documentgeneric.documentpid ' on-update='$ctrl.update("documentpid", value)'></text-input>
            <icon icon='$ctrl.addButton' ng-click='$ctrl.genPid()'></icon>
        </div>

       
        <div class='extension-wrapper'>
            <text-input label='Family PID' is-required='true'  text-value='$ctrl.selected.documentgeneric.documentfamilypid ' on-update='$ctrl.update("documentfamilypid", value)'></text-input>
            <icon icon='$ctrl.addButton' ng-click='$ctrl.genPid()'></icon>
        </div>

        <text-input label='Document Title' text-value='$ctrl.selected.documentgeneric.documenttitle'></text-input>
        <text-input label='Document Author' text-value='$ctrl.selected.documentgeneric.documentauthor'></text-input>
        <text-input label='Document Issue Date'
            text-value='$ctrl.selected.documentgeneric.documentissuedate' 
            is-required='true' 
            max-length='20' >
        </text-input>
      
        <list label='Document Owner' items='$ctrl.selected.documentgeneric.documentowner' ></list>

        <text-input label='Published Indicator' text-value='$ctrl.selected.documentgeneric.publishedindicator'></text-input>
        <text-input label='Document Family' text-value='$ctrl.selected.documentgeneric.documentfamily'></text-input>
        
        <tbl ng-if='!$ctrl.loading' title='Content Status History' 
              items='$ctrl.selected.documentgeneric.contentstatushistory' 
              projection='$ctrl.contentStatusProjection' 
              on-select='$ctrl.selectTblItem("documentgeneric.contentstatushistory",index)' 
              on-add='$ctrl.addTblItem("documentgeneric.contentstatushistory")' 
              on-delete='$ctrl.deleteTblItem("documentgeneric.contentstatushistory",index)'>
        </tbl>
      
       <tbl ng-if='!$ctrl.loading' title='Referenced Document' 
              items='$ctrl.selected.documentgeneric.referenceddocument'  
              projection='$ctrl.referencedDocumentProjection'
              on-select='$ctrl.selectTblItem("documentgeneric.referenceddocument",index)' 
              on-add='$ctrl.addTblItem("documentgeneric.referenceddocument")' 
              on-delete='$ctrl.deleteTblItem("documentgeneric.referenceddocument",index)'>
        </tbl>


        <tbl ng-if='!$ctrl.loading' title='Related To Substance' 
              items='$ctrl.selected.documentgeneric.relatedtosubstance'  
              projection='[{name: "toSubstanceId", url: "substance"}]' 
              on-select='$ctrl.selectTblItem("documentgeneric.relatedtosubstance",index)' 
              on-add='$ctrl.addTblItem("documentgeneric.relatedtosubstance")' 
              on-delete='$ctrl.deleteTblItem("documentgeneric.relatedtosubstance",index)'>
        </tbl>

        <tbl ng-if='!$ctrl.loading' title='Document Number' items='$ctrl.selected.documentgeneric.documentnumber'  
              projection='$ctrl.documentnumberProjection'
              on-select='$ctrl.selectTblItem("documentgeneric.documentnumber",index)' 
              on-add='$ctrl.addTblItem("documentgeneric.documentnumber")' 
              on-delete='$ctrl.deleteTblItem("documentgeneric.documentnumber",index)'>
        </tbl>


         <list label='Test Laboratory' items='$ctrl.selected.documentgeneric.testlaboratory' ></list>


        <md-switch ng-model='$ctrl.selected.documentgeneric.gxpindicator' 
            aria-label='GXP Indicator' 
            class='md-primary' ng-change='$ctrl.printValue()'>
            GXP Indicator
        </md-switch>

        <md-switch ng-model='$ctrl.submission.SUBMISSION[$ctrl.submission.SUBMISSION.length - 1].INCREMENTAL' aria-label='Incremental'
          class='md-primary' ng-change='$ctrl.printValue()'>Tested on vertebrates</md-switch>
      

        <tbl ng-if='!$ctrl.loading' title='Referenced To File' 
              items='$ctrl.selected.documentgeneric.referencedtofile'  
              projection='[{name: "toFileId", url: "file"}]' 
              on-select='$ctrl.selectTblItem("documentgeneric.referencedtofile",index)' 
              on-add='$ctrl.addTblItem("documentgeneric.referencedtofile")' 
              on-delete='$ctrl.deleteTblItem("documentgeneric.referencedtofile",index)'>
        </tbl>

       <tbl ng-if='!$ctrl.loading' 
            title='Document Regulatory Authority' 
            items='$ctrl.selected.documentra' 
            projection='[{name: "toSpecificForRAId", url: "receiver"}]'
            on-select='$ctrl.selectTblItem("documentra",index)' 
            on-delete='$ctrl.deleteTblItem("documentra",index)' 
            on-add='$ctrl.addTblItem("documentra")'>
       </tbl>
        
        <div style='z-index:100' class='float-bottom'>
            <md-button aria-label='Save' class='md-fab md-primary' ng-click='$ctrl.save()'>
            <md-icon md-svg-icon='save' class='light'></md-icon>
            </md-button>
            <md-button aria-label='Add New Item' class='md-fab md-primary' ng-click='$ctrl.add("document")'>
            <md-icon md-svg-icon='add' class='light'></md-icon>
            </md-button>
            <md-button aria-label='Toggle List' class='md-fab md-primary' ng-click='$ctrl.toggleList()'>
            <md-icon md-svg-icon='list' class='light'></md-icon>
            </md-button>
        </div>
  </div>
</section>