<section class='node-page' layout-padding>
  <tbl title='Document Regulatory Authority' items='[]' projection='[]'></tbl>
  <fieldset>
    <legend>Document Generic</legend>
    <div class='input-wrapper'>
    <text-input label='PID' is-required='true' is-disabled='true'></text-input>
    <text-input label='Family PID' is-required='true'></text-input>
    </div>
    <text-input label='Document Title'></text-input>
    <text-input label='Document Author'></text-input>
    <text-input label='Document Issue Date'></text-input>
    <tbl title='Document Owner' items='[]' projection='[]'></tbl>
    <text-input label='Published Indicator'></text-input>
    <text-input label='Document Family'></text-input>
    <tbl title='Content Status History' items='[]' projection='[]'></tbl>
    <tbl title='Referenced Document' items='[]' projection='[]'></tbl>
    <tbl title='Related To Substance' items='[]' projection='[]'></tbl>
    <tbl title='Document Number' items='[]' projection='[]'></tbl>
    <tbl title='Test Laboratory' items='[]' projection='[]'></tbl>
    <text-input label='DXP Indicator'></text-input>
    <md-switch ng-model='$ctrl.submission.SUBMISSION[$ctrl.submission.SUBMISSION.length - 1].INCREMENTAL' aria-label='Incremental' class='md-primary' ng-change='$ctrl.printValue()'>Tested on vertebrates</md-switch>
    <tbl title='Referenced To File' items='[]' projection='[]'></tbl>
</section>