@import '../../../scss/constants.scss';

.md-toolbar-tools.custom-toolbar {
  margin: 0;
  font-size: 0.7em;
  height: 58px;
  max-height: 58px;
}

.md-toolbar-tools.custom-toolbar .toolbar-title {
  color: $light-text;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}

.md-toolbar-tools.custom-sub-toolbar {
  margin: 0;
  font-size: 0.7em;
  height: 36px;
  max-height: 36px;
  background-color: #29743D;
}

.md-toolbar-tools.header-toolbar {
  height: 64px;
  max-height: 64px;
}

md-toolbar.custom-toolbar {
  min-height: 0;
}

md-toolbar.md-table-toolbar {
  min-height: 0;
}