.md-toolbar-tools.custom-toolbar {
  margin: 0;
  font-size: 0.7em;
  height: 58px;
  max-height: 58px;
}

.md-toolbar-tools.header-toolbar {
  height: 64px;
  max-height: 64px;
}

md-toolbar.custom-toolbar {
  min-height: 0;
}

md-toolbar.md-table-toolbar {
  min-height: 0;
}