<div layout='row' flex>
  <md-input-container class='md-block'>
    <label for='$ctrl.selectedOption.type'>{{ $ctrl.selectedOption.type }}</label>
    <md-select id='$ctrl.selectedOption.type' ng-model='$ctrl.selectedOption.VALUE' ng-change='$ctrl.addType()'>
      <md-option ng-repeat='option in $ctrl.options' ng-value='option.VALUE'>
        {{ option.VALUE_DECODE }}
      </md-option>
    </md-select>
  </md-input-container>
  <!-- show "add" icon or not based on extendable flag -->
  <!-- if extensible is true-->
 <icon-button ng-if="$ctrl.extensible" icon='add' colour='dark' label='Add New' on-update='$ctrl.update()'></icon-button>
  <picklist-extension ng-if="$ctrl.isOpened" selected-option='$ctrl.selectedOption' on-update='$ctrl.saveReload(value,valueDecode)' on-close='$ctrl.close()'></picklist-extension>
</div>