<section class='node-page'>
  <spinner ng-if='$ctrl.loading'></spinner>
  <div class='no-margin no-padding' ng-if='!ctrl.loading'>
    <sidenav items='$ctrl.records' selected='$ctrl.selected' main='substancename' is-open='$ctrl.sidenavOpen' on-select='$ctrl.updateSelected(item)'
      on-add='$ctrl.add(item)'></sidenav>
    <div class='extension-wrapper'>
      <text-input label='{{"substancepid"|translate}}'  is-required='true' text-value='$ctrl.selected.substancepid' on-update='$ctrl.update("substancepid", value)'></text-input>

      <md-button class='md-raised md-primary' ng-click='$ctrl.genPid()'>Generate PID</md-button>
    </div>
    <text-input label='{{"substancename"|translate}}'  is-required='true' text-value='$ctrl.selected.substancename' on-update='$ctrl.update("substancename", value)' max-Length='2000'></text-input>

    <tbl ng-if='!$ctrl.loading' title='{{"otheridentifiers"|translate}}' items='$ctrl.selected.substanceidentifier' projection='[ {name: "substanceidentifiertype", url: "picklist"},"identifier"]'
      on-select='$ctrl.selectTblItem("substanceidentifier",index)' on-add='$ctrl.addTblItem("substanceidentifier")' on-delete='$ctrl.deleteTblItem("substanceidentifier",index)'></tbl>

    <div class='float-bottom'>
      <md-button aria-label='Save' class='md-fab md-primary' ng-click='$ctrl.save()'>
        <md-tooltip>Save</md-tooltip>
        <md-icon md-svg-icon='save' class='light'></md-icon>
      </md-button>
      <md-button aria-label='Add New Item' class='md-fab md-primary' ng-click='$ctrl.add("substance")'>
        <md-tooltip>Add</md-tooltip>
        <md-icon md-svg-icon='add' class='light'></md-icon>
      </md-button>
      <md-button aria-label='Toggle List' class='md-fab md-primary' ng-click='$ctrl.toggleList()'>
        <md-tooltip>View List</md-tooltip>
        <md-icon md-svg-icon='list' class='light'></md-icon>
      </md-button>
    </div>
  </div>
</section>