<section class='node-page'>

  <sidenav items='$ctrl.substances' main='substancename' on-select='$ctrl.select(item)' on-add='$ctrl.add(item)'></sidenav>
  <text-input label='PID' is-disabled='true' text-value='$ctrl.selected.substancepid' on-update='$ctrl.update("substancepid", value)'></text-input>
  <text-input label='Name' text-value='$ctrl.selected.substancename' on-update='$ctrl.update("substancename", value)'></text-input>
  <select-input-extensible show-value='false' values='$ctrl.picklists.metadataStatusOptions' select-value='$ctrl.metadataStatusOptions' on-update='$ctrl.update("metadataStatusOptions", value)'></select-input-extensible>
  <text-input label='Other Name' text-value='$ctrl.selected.othername' on-update='$ctrl.update("othername", value)'></text-input>
  <tbl title='Identifier' items='[]' projection='[]'></tbl>

</section>