<div class='table-container'>
  <md-card class='no-padding'>
    <md-toolbar class='md-table-toolbar' ng-show='!$ctrl.search'>
      <div class='md-toolbar-tools custom-toolbar'>
        <h2 class='md-title'>{{ $ctrl.title }}</h2>
        <div flex></div>
        <icon icon='$ctrl.searchIcon' ng-click='$ctrl.toggleSearch()'></icon>
        <icon icon='$ctrl.addIcon' ng-click='$ctrl.onAdd()'></icon>
      </div>
    </md-toolbar>
    <md-toolbar class='md-table-toolbar custom-toolbar md-default' ng-show='$ctrl.search'>
      <div class='md-toolbar-tools custom-toolbar'>
        <text-input class='search-input' label='Search' text-value='$ctrl.searchText' message='invalid' on-update='$ctrl.update("searchText", value)'></text-input>
        <icon icon='$ctrl.closeIcon' ng-click='$ctrl.toggleSearch()'></icon>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th ng-repeat='header in $ctrl.headers' md-column ng-click='$ctrl.setSort(header)'>
              {{header.name | translate}}
              <md-icon class='table-sort-icon' ng-class='{
                "sort-ascending": ($ctrl.sortField === header.paramName && $ctrl.reverse),
                "sort-descending": ($ctrl.sortField === header.paramName && !$ctrl.reverse)
              }' md-svg-icon='up'></md-icon>
              <!--<md-icon class='table-sort-icon' ng-class='{"sort-descending": ($ctrl.sortField === header.paramName && !$ctrl.reverse)}' md-svg-icon='down'></md-icon>-->
            </th>
            <th ng-if='$ctrl.deletable' md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr ng-repeat='row in $ctrl.rows | index | filter:$ctrl.searchText | orderBy:$ctrl.sortField:$ctrl.reverse' md-row>
            <td ng-repeat='data in row track by $index' ng-if='!$last' md-cell ng-click='$ctrl.select(row[row.length - 1], row.index)'>{{$ctrl.getData(data, $index)}}</td>
            <td ng-show='$ctrl.deletable' md-cell>
              <icon icon='$ctrl.deleteIcon' ng-click='$ctrl.delete(row.index)'></icon>
            </td>
            <!--<td ng-show='$ctrl.editable' md-cell>
              <icon icon='$ctrl.editIcon' ng-click='$ctrl.edit(row.index)'></icon>
            </td>-->
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
  <p class='error-message' ng-if='!$ctrl.rows || $ctrl.rows.length < $ctrl.minItems'>Must have at least {{ $ctrl.minItems }} {{ $ctrl.title | lowercase }} record</p>
</div>