@import '../../../scss/constants';

table {
  word-wrap: break-word;
}

tbody > tr:hover {
  background-color: $hover-color;
  cursor: pointer;
}

th:hover {
  cursor: pointer;
}

table, tr, th, td {
  outline: none;
}

text-input.search-input {
  margin: 0;
}

div.table-container > md-card {
  margin: 0 0 5px 0;
  padding: 0;
}

div.table-container {
  margin: 15px 0;
  padding: 0;
}

table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
  width: 30px;
}