@import '../../../scss/constants';

div.table {
  margin: 8px 0;
}

div.table-container {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: 100%;
  border-radius: $border-radius;
}

.table-toolbar {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: $primary-color;
  height: 3.5rem;
}

.table-toolbar-title {
  color: $light-text;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}

.table-toolbar.table-search {
  background-color: white;
  border-bottom: 1px solid $dark-divider;
}

.search-table {
  width: 100%;
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.search-table tr {
  background-color: white;
  height: 3rem;
  outline: none;
}

.search-table tbody > tr.selected:hover {
  background-color: $dark-hover-color;
}

.search-table tbody > tr:hover {
  background-color: $hover-color;
}

.search-table tbody > tr.selected {
  background-color: $dark-hover-color;
}

.search-table th, .search-table td {
  border: none;
  outline: none;
  margin: 0;
  padding: 6px;
  text-align: left;
}

.search-table th {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 2px solid $dark-divider;
}

.search-table th.icon-cell {
  cursor: default;
}

.search-table td {
  font-size: 0.9rem;
  border-bottom: 1px solid $dark-divider;
}

.search-table:hover {
  cursor: pointer;
}

.icon-group-right {
  margin-left: auto;
}

.sort-icon {
  width: 24px;
  visibility: hidden;
}

.sort-icon svg {
  fill: $dark-icon;
}

.sort-icon.selected {
  visibility: visible;
  transition: transform 0.2s ease-in-out;
}

.sort-icon.selected.desc {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.search-table .icon-cell {
  padding: 0;
  margin: 0;
  width: 24px;
}

.icon-cell + :not(.icon-cell) {
  border-left: 1px solid $dark-divider
}