<div class='table-container'>
  <div class='table-toolbar' ng-show='!$ctrl.search'>
    <h2 class='table-toolbar-title'>{{$ctrl.title}}</h2>
    <div class='icon-group-right'>
      <icon name='search' ng-if='$ctrl.searchable' label='Search' color='light' ng-click='$ctrl.search = !$ctrl.search'></icon>
      <icon name='add' ng-if='$ctrl.addable' label='Add' color='light' ng-click='$ctrl.onAdd()'></icon>
    </div>
  </div>
  <div class='table-toolbar table-search' ng-show='$ctrl.search'>
    <text-input class='search-input' label='Search' text-value='$ctrl.searchText' on-update='$ctrl.update("searchText", value)'></text-input>
    <icon name='close' label='Close' color='dark' ng-click='$ctrl.search = !$ctrl.search'></icon>
  </div>
  <div class='table-wrapper'>
    <table class='search-table'>
      <thead>
        <tr>
          <th ng-repeat='header in $ctrl.projection' ng-click='$ctrl.setSort(header)'>
            {{header | translate}}
            <md-icon ng-show='$ctrl.sortField === header' class='sort-icon' ng-class='{"selected": $ctrl.sortField === header, "desc": $ctrl.reverse}' md-svg-icon='up'></md-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='item in $ctrl.items'>
          <td ng-repeat='header in $ctrl.projection'>{{item[header]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>