<md-dialog aria-label='identifier' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Identifier</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <select-input-extensible label='"Identifier Type"' select-value='$ctrl.node.legalentityidentifiertype' on-update='$ctrl.update("legalentityidentifiertype", value)' values='$ctrl.picklists.legalEntityIdentifierTypes' type-name='EXTENSION_TYPE_LEGALENTITY_IDENTIFIER_TYPE' on-add='$ctrl.createPicklistItem("legalentityidentifiertype", "legalEntityIdentifierTypes", value)'></select-input-extensible>
        <text-input label='Identifier' text-value='$ctrl.node.identifier' on-update='$ctrl.update("identifier", value)'></text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>