<section class='node-page'>
  <md-button class='md-raised md-primary' ng-click='$ctrl.toggleShowTOCData()'>Show TOC Data</md-button>
  <!--<md-button class='md-raised md-primary'   ng-click='$ctrl.showTree()'>Show Tree</md-button>-->
  <div ng-show='$ctrl.showTOCData'>
    <text-input label='Short Name' text-value='$ctrl.toc.tocshortname' on-update='$ctrl.updateTOC("tocshortname", value)' is-disabled='true'></text-input>
    <select-input-extensible label='Owner' is-disabled='true' select-value='$ctrl.toc.tocowner' values='$ctrl.tocOwnerType' on-update='$ctrl.updateTOC("tocowner", value)' on-add='$ctrl.createPicklistItem("tocowner", "tocOwnerType", value)'></select-input-extensible>
    <text-input label='Full Name' text-value='$ctrl.toc.tocfullname' on-update='$ctrl.updateTOC("tocfullname", value)' is-disabled='true'></text-input>
    <text-input label='Version' is-disabled='true' text-value='$ctrl.toc.tocversion' is-disabled='true'></text-input>
    <fieldset style='margin-top: 20px'>
      <legend>Standard Reference</legend>
      <text-input label='Standard PID' text-value='$ctrl.toc.standardreference.standardtocpid' on-update='$ctrl.updateStandardReference("standardtocpid", value)' is-disabled='true'></text-input>
      <text-input label='Filename' text-value='$ctrl.toc.standardreference.filename' on-update='$ctrl.updateStandardReference("filename", value)' is-disabled='true'></text-input>
    </fieldset>
  </div>
  <section>
    <select-input label='Search' select-value='$ctrl.selectedNode' values='$ctrl.treeNodes' main='nodename' on-update='$ctrl.updateSelected(value)'></select-input>
    <tree node='$ctrl.selectedNode' items='$ctrl.docs'></tree>
  </section>
</section>
