<section class='node-page'>
  <div class='no-padding no-margin' ng-repeat='item in $ctrl.items'>
    <md-toolbar>
      <div class='md-toolbar-tools custom-toolbar accordion-title' ng-click='$ctrl.toggleShow(item)'>
        <icon icon='$ctrl.expandIcon' ng-show='!item.showing'></icon>
        <icon icon='$ctrl.collapseIcon' ng-show='item.showing'></icon>
        <h2 class='md-title'>{{item.title}}</h2>
        <div flex></div>
      </div>
    </md-toolbar>
    <md-content layout-padding ng-show='item.showing'>
      <md-list >
        <md-list-item ng-repeat='subitem in item.items'>
          <p>{{subitem.text}}</p>
        </md-list-item>
      </md-list>
    </md-content>
    <md-divider></md-divider>
  </div>
</section>