      <div layout='row' layout-xs='column' layout-align='center' layout-wrap>
        <md-button class='md-raised md-primary' ng-click='$ctrl.addRecord($ctrl.name)' aria-label='Add'>Add</md-button>
        <md-button class='md-raised md-primary' ng-click='$ctrl.saveRecord($ctrl.name)' aria-label='Save'>Save</md-button>
        <md-button class='md-raised md-primary' ng-click='$ctrl.cancelEdit($ctrl.name)' aria-label='Cancel'>Cancel</md-button>
        <md-button class='md-raised md-primary' ng-click='$ctrl.deleteRecord($ctrl.name) ' aria-label='Delete'>Delete</md-button>
      </div>