<md-dialog aria-label='ingredient*' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"ingredient" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <select-input label='{{"substance" | translate}}' main='substancename' select-value='$ctrl.node.toSubstanceId' values='$ctrl.substances' is-required='true' on-update='$ctrl.update("toSubstanceId", value)'></select-input>
        <text-input label='{{"quantity" | translate}}' text-value='$ctrl.node.quantity' on-update='$ctrl.update("quantity", value)'></text-input>
        <select-input-extensible label='{{"unit" | translate}}' select-value='$ctrl.node.unit' on-update='$ctrl.update("unit", value)'
          values='$ctrl.picklists.unitType' type-name='EXTENSION_TYPE_UNIT' on-add='$ctrl.createPicklistItem("unit", "unitType", value)'>
        </select-input-extensible>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>{{"okey" | translate}}</md-button>
      <md-button ng-click='$ctrl.cancel()'>{{"cancel" | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>