<md-dialog aria-label='file regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Document RA</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>


    <div class='no-margin no-padding'>  
        <select-input label='Receiver' main='shortname' 
            select-value='$ctrl.node.toSpecificForRAId' 
            values='$ctrl.receivers' 
            on-update='$ctrl.update("toSpecificForRAId", value)'>
        </select-input>                
        <select-input label='Data Protection' 
            select-value='$ctrl.node.dataprotection' 
            values='$ctrl.picklists.dataprotectionTypeOptions' 
            on-update='$ctrl.update("dataprotection", value)'>
        </select-input>   
         <select-input label='Data Requirement' 
            select-value='$ctrl.node.datarequirement' 
            values='$ctrl.picklists.datarequirementTypeOptions' 
            on-update='$ctrl.update("datarequirement", value)'>
        </select-input>                    
    </div>
 
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Document Comment</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addString("documentcomment")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Comment</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="comment in $ctrl.node.documentcomment track by $index" class="noright">
            <text-input label='Comment' text-value='comment' on-update='$ctrl.updateArray("documentcomment", $index, value)'></text-input>
            <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("documentcomment", $index)'>
                <md-icon md-svg-icon='delete' class='dark'></md-icon>
                <md-tooltip>Delete Comment</md-tooltip>
            </md-button>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Other National Guideline</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.add("othernationalguideline")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Guideline</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "oth in $ctrl.node.othernationalguideline track by $index"  class="noright">
              <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Guide Line Number</label>
                        <input ng-model="oth.guidelinenumber" type="text" on-update='$ctrl.updateArray("guidelinenumber", $index, value)'>  
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Guide Line System</label>
                        <input ng-model="oth.guidelinesystem" type="text" on-update='$ctrl.updateArray("guidelinesystem", $index, value)'> 
                  </md-input-container>
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("othernationalguideline", $index, $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete Guideline</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>RA Document Number</h2>
        <span flex></span>
      </div>
    </md-toolbar>
   
   <div class='no-margin no-padding'>  
       <select-input-extensible 
                label=' RA Document Number Type'  
                select-value='$ctrl.node.radocumentnumbertype'
                on-update='$ctrl.update("radocumentnumbertype", value)'
                values='$ctrl.picklists.raDocumentNumberTypeOptions' 
                show-value='true' 
                type-name='EXTENSION_TYPE_RA_DOCUMENT_NUMBER_TYPE' 
                on-add='$ctrl.createPicklistItem("radocumentnumbertype", "raDocumentNumberTypeOptions", value)'>
      </select-input-extensible>
   </div>

   <div layout-gt-sm="row">   
           
        <md-input-container class="md-block" flex-gt-sm>
              <label>Identifier</label>
              <input ng-model="$ctrl.node.radocumentnumber.identifier" type="text">  
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
              <label>Already Submitted</label>
              <input ng-model="$ctrl.node.radocumentnumber.alreadysubmitted" type="text">
        </md-input-container>  
                     
    </div>
    
 <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Submission Context</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addSubMissionContext("submissioncontext")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add submission context</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "sub in $ctrl.node.radocumentnumber.submissioncontext"  class="noright">  
              <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Dossier PID</label>
                        <input ng-model="sub.dossierpid" type="text" on-update='$ctrl.updateArray("dossierpid", $index, value)'>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Dossier Number</label>
                        <input ng-model="sub.dossiernumber" type="text" on-update='$ctrl.updateArray("dossiernumber", $index, value)'>
                  </md-input-container>
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteSubArray("submissioncontext", $index, $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete submission context</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

 
    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>