<md-dialog aria-label='file regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"documentra" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>


    <div class='no-margin no-padding'>  
        <select-input 
            label='{{"receivers" | translate}}'
            main='shortname' 
            select-value='$ctrl.node.toSpecificForRAId' 
            values='$ctrl.receivers' 
            on-update='$ctrl.update("toSpecificForRAId", value)'>
        </select-input>                
        <select-input 
            label='{{"dataprotection" | translate}}' 
            select-value='$ctrl.node.dataprotection' 
            values='$ctrl.picklists.dataprotectionTypeOptions' 
            on-update='$ctrl.update("dataprotection", value)'>
        </select-input>   
        <select-input 
            label='{{"datarequirement" | translate}}'
            select-value='$ctrl.node.datarequirement' 
            values='$ctrl.picklists.datarequirementTypeOptions' 
            on-update='$ctrl.update("datarequirement", value)'>
        </select-input>                    
    </div>
 
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"documentcomment" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addString("documentcomment")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Comment</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="comment in $ctrl.node.documentcomment track by $index" class="noright">
            <text-input 
                label='{{"documentcomment" | translate}}' 
                text-value='comment' 
                on-update='$ctrl.updateArray("documentcomment", $index, value)'>
            </text-input>
            <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("documentcomment", $index)'>
                <md-icon md-svg-icon='delete' class='dark'></md-icon>
                <md-tooltip>Delete Comment</md-tooltip>
            </md-button>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"othernationalguideline" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.add("othernationalguideline")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Guideline</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "oth in $ctrl.node.othernationalguideline track by $index"  class="noright">
              <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs="">
                        <label>{{"guidelinenumber" | translate}}</label>
                        <input ng-model="oth.guidelinenumber" type="text" on-update='$ctrl.updateArray("guidelinenumber", $index, value)'>  
                  </md-input-container>
                  <md-input-container >
                        <label>{{"guidelinesystem" | translate}}</label>
                        <input ng-model="oth.guidelinesystem" type="text" on-update='$ctrl.updateArray("guidelinesystem", $index, value)'> 
                  </md-input-container>
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("othernationalguideline", $index, $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete Guideline</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"radocumentnumber" | translate}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
   
   <div class='no-margin no-padding'>  
       <select-input-extensible 
                label='{{"radocumentnumbertype" | translate}}' 
                select-value='$ctrl.node.radocumentnumbertype'
                on-update='$ctrl.update("radocumentnumbertype", value)'
                values='$ctrl.picklists.raDocumentNumberTypeOptions' 
                show-value='true' 
                type-name='EXTENSION_TYPE_RA_DOCUMENT_NUMBER_TYPE' 
                on-add='$ctrl.createPicklistItem("radocumentnumbertype", "raDocumentNumberTypeOptions", value)'>
      </select-input-extensible>

      <div layout-gt-xs="row">             
            <md-input-container class="md-block" flex-gt-xs="">
                  <label>{{"identifier" | translate}}</label>
                  <input ng-model="$ctrl.node.radocumentnumber.identifier" type="text">  
            </md-input-container>
            <md-input-container >
                  <label>{{"alreadysubmitted" | translate}}</label>
                  <input ng-model="$ctrl.node.radocumentnumber.alreadysubmitted" type="text">
            </md-input-container>                      
      </div>

   </div>

   
    
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"submissioncontext" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addSubArray("submissioncontext","radocumentnumber")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add submission context</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "sub in $ctrl.node.radocumentnumber.submissioncontext"  class="noright">        
              <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs="">
                        <label>{{"dossierpid" | translate}}</label>
                        <input ng-model="sub.dossierpid" type="text" on-update='$ctrl.updateArray("dossierpid", $index, value)'>
                  </md-input-container>
                  <md-input-container>
                        <label>{{"dossiernumber" | translate}}</label>
                        <input ng-model="sub.dossiernumber" type="text" on-update='$ctrl.updateArray("dossiernumber", $index, value)'>
                  </md-input-container>           
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteSubArray("submissioncontext",$index,"radocumentnumber", $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete submission context</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

 
    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>