<md-dialog aria-label='file regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"documentra" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>


    <div class='no-margin no-padding'>  
        <select-input 
            label='{{"receiver" | translate}}'
            main='shortname' 
            select-value='$ctrl.node.toSpecificForRAId' 
            values='$ctrl.receivers' 
            on-update='$ctrl.update("toSpecificForRAId", value)'>
        </select-input>                
       <div layout="row" layout-wrap>  
              <div flex="50">             
                <select-input 
                    label='{{"dataprotection" | translate}}' 
                    select-value='$ctrl.node.dataprotection' 
                    values='$ctrl.picklists.dataprotectionTypeOptions' 
                    on-update='$ctrl.update("dataprotection", value)'>
                </select-input> 
              </div>
              <div flex="50">   
                <select-input 
                    label='{{"datarequirement" | translate}}'
                    select-value='$ctrl.node.datarequirement' 
                    values='$ctrl.picklists.datarequirementTypeOptions' 
                    on-update='$ctrl.update("datarequirement", value)'>
                </select-input>
              </div>                   
        </div>            
    </div>
 
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"documentcomment" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addString("documentcomment")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Comment</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="comment in $ctrl.node.documentcomment track by $index" class="noright">
            <text-input 
                label='{{"documentcomment" | translate}}' 
                text-value='comment' 
                on-update='$ctrl.updateArray("documentcomment", $index, value)'
                max-Length='2000'>
            </text-input>
            <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("documentcomment", $index)'>
                <md-icon md-svg-icon='delete' class='dark'></md-icon>
                <md-tooltip>Delete Comment</md-tooltip>
            </md-button>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"othernationalguideline" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.add("othernationalguideline")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add Guideline</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "oth in $ctrl.node.othernationalguideline track by $index"  class="noright">
              <div layout-gt-xs="row">
                   <text-input 
                        label='{{"guidelinenumber" | translate}}' 
                        text-value='oth.guidelinenumber' 
                        on-update='$ctrl.updateArray("guidelinenumber", $index, value,"othernationalguideline")'
                        max-Length='20'>
                   </text-input>
                   <text-input 
                        label='{{"guidelinesystem" | translate}}' 
                        text-value='oth.guidelinesystem' 
                        on-update='$ctrl.updateArray("guidelinesystem", $index, value,"othernationalguideline")'
                        max-Length='20'>
                   </text-input>
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteArray("othernationalguideline", $index, $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete Guideline</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"radocumentnumber" | translate}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
   
   <div class='no-margin no-padding'>  
       <select-input-extensible 
                label='{{"radocumentnumbertype" | translate}}' 
                select-value='$ctrl.node.radocumentnumbertype'
                on-update='$ctrl.update("radocumentnumbertype", value)'
                values='$ctrl.picklists.raDocumentNumberTypeOptions' 
                type-name='EXTENSION_TYPE_RA_DOCUMENT_NUMBER_TYPE' 
                on-add='$ctrl.createPicklistItem("radocumentnumbertype", "raDocumentNumberTypeOptions", value)'>
      </select-input-extensible>

      <div layout-gt-xs="row" >             
             <text-input 
                    label='{{"identifier" | translate}}' 
                    text-value='$ctrl.node.radocumentnumber.identifier' 
                    on-update='$ctrl.updateSubArray("identifier", value, "radocumentnumber")'
                    max-Length='255'>
            </text-input>

            <md-switch ng-model='$ctrl.node.radocumentnumber.alreadysubmitted' 
                    aria-label='{{"alreadysubmitted" | translate}}'
                    class='md-primary' 
                    ng-change='$ctrl.printValue()'>
            {{"alreadysubmitted" | translate}} : {{$ctrl.node.radocumentnumber.alreadysubmitted}}
            <md-tooltip>True or False</md-tooltip>
        </md-switch>                     
      </div>

   </div>  
    
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"submissioncontext" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.addSubArray("submissioncontext","radocumentnumber")'>
          <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
          <md-tooltip>Add submission context</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat= "sub in $ctrl.node.radocumentnumber.submissioncontext"  class="noright">        
              <div layout-gt-xs="row">
                  <text-input 
                        label='{{"dossierpid" | translate}}' 
                        text-value='sub.dossierpid' 
                        on-update='$ctrl.updateSubArray("submissioncontext", value, "radocumentnumber", $index, "dossierpid")'
                        max-Length='255'>
                  </text-input>
                  <text-input 
                        label='{{"dossiernumber" | translate}}' 
                        text-value='sub.dossiernumber' 
                        on-update='$ctrl.updateSubArray("submissioncontext", value, "radocumentnumber", $index, "dossiernumber")'
                        max-Length='255'>
                  </text-input>
                  <md-button aria-label='Delete Item'  ng-click='$ctrl.deleteSubArray("submissioncontext",$index,"radocumentnumber", $event)'>
                      <md-icon md-svg-icon='delete' class='dark'></md-icon>
                      <md-tooltip>Delete submission context</md-tooltip>
                  </md-button>
              </div>
        </md-list-item>
    </md-list>

 
    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>