<md-dialog aria-label='referenced dossier' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{ $ctrl.title }}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <select-input label='Document' select-value='$ctrl.document' values='$ctrl.items' main='id' on-update='$ctrl.update("document", value)'></select-input>
      <select-input label='Document RA' select-value='$ctrl.documentra' values='$ctrl.documentras' main='toSpecificForRAId' on-update='$ctrl.update("documentra", value)'></select-input>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>