<section class='node-page' layout-padding>
    <h1>Description {{ $ctrl.submission.DOSSIER_COMP_ID }}</h1>
    <div layout-gt-sm='row' class='input-wrapper'>
        <text-input label='PID' is-disabled='true' text-value='$ctrl.submission.DOSSIER_PID'  max-length='5' has-pattern='^[0-9]*$' message='Needs to be a valid PID' on-update='$ctrl.update("DOSSIER_PID", value)'></text-input>
        <text-input label='Company ID' is-required='true' text-value='$ctrl.submission.DOSSIER_COMP_ID' has-pattern='^[0-9]*$' message='Needs to be a valid PID' on-update='$ctrl.update("DOSSIER_COMP_ID", value)' max-length='20'></text-input>
    </div>
    <text-input label='Title' is-required='true' text-value='$ctrl.submission.DOSSIER_DESCRIPTION_TITLE' max-length='2000'></text-input>
    <md-switch ng-model='$ctrl.submission.SUBMISSION[$ctrl.submission.SUBMISSION.length - 1].INCREMENTAL' aria-label='Incremental' class='md-primary' ng-change='$ctrl.printValue()'>Incremental</md-switch>
    <tbl title='Dossier Regulatory Authorities' items='$ctrl.submission.DOSSIER_RA' projection='$ctrl.dossierRAProjection' min-items='1' on-select='$ctrl.select("DOSSIER_RA", index)' on-delete='$ctrl.delete("DOSSIER_RA", index)' deletable='true'></tbl>
    <tbl title='Referenced Dossiers' items='$ctrl.submission.REFERENCED_DOSSIER' projection='$ctrl.referencedDossierProjection' min-items='0' on-select='$ctrl.select("REFERENCED_DOSSIER", index)' on-delete='$ctrl.delete("REFERENCED_DOSSIER", index)' deletable='false'></tbl>
</section>