<section class='node-page'>
  <div>
    <toolbar items='$ctrl.toolbarItems'></toolbar>
    <navbar items='$ctrl.navbarItems'></navbar>
  </div>
  <spinner ng-if='$ctrl.loading'></spinner>
  <div class='no-margin no-padding' ng-if='!$ctrl.loading'>
    <div class='no-margin no-padding flex-container'>
    <text-input label='PID' is-disabled='true' text-value='$ctrl.dossier.dossierpid' has-pattern='^[0-9]*$'
      message='Needs to be a valid PID' on-update='$ctrl.update("dossierpid", value)'></text-input>
    <text-input label='Company ID' is-required='true' text-value='$ctrl.dossier.dossiercompid' has-pattern='^[0-9]*$' message='Needs to be a valid PID'
      on-update='$ctrl.update("dossiercompid", value)' max-length='20'></text-input>
    </div>
    <text-input label='Title' is-required='true' text-value='$ctrl.dossier.dossierdescriptiontitle' max-length='2000'></text-input>
    <md-switch ng-if='!$ctrl.loading' ng-model='$ctrl.submission.incremental' aria-label='Incremental'
      class='md-primary' ng-change='$ctrl.printValue()'>Incremental</md-switch>
    <tbl ng-if='!$ctrl.loading' title='Dossier Regulatory Authorities' items='$ctrl.dossier.dossierra' projection='$ctrl.dossierraProjection' min-items='1'
      on-select='$ctrl.select("dossierra", index)' on-delete='$ctrl.delete("dossierra", index)' deletable='true'></tbl>
    <tbl ng-if='!$ctrl.loading' title='Referenced Dossiers' items='$ctrl.dossier.referenceddossier' projection='$ctrl.referencedDossierProjection'
      min-items='0' on-select='$ctrl.select("referenceddossier", index)' on-delete='$ctrl.delete("referenceddossier", index)'
      deletable='false'></tbl>
  </div>
</section>