<ui-layout options="{flow: 'row', dividerSize: '0'}">
    <div ui-layout-container size='64px'>
        <toolbar items='$ctrl.toolbarItems'></toolbar>
    </div>
    <div ui-layout-container>
      <div ui-layout options="{ flow: 'column'}" >
        <div ui-layout-container size='30%'>
          <div ui-layout options="{flow: 'row'}" >
            <div ui-layout-container>
              <p>Product</p>
              <p>Dossier</p>
              <p>Submission</p>
            </div>
            <div ui-layout-container><receivers></receivers></div>
          </div>
        </div>
        <div ui-layout-container='central'>
          <toc></toc>
        </div>
      </div>
    </div>
  </div>
</ui-layout>