<md-dialog aria-label='new dossier' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>New Dossier</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <text-input label='Dossier Title' text-value='$ctrl.dossiertitle' is-required='true' on-update='$ctrl.update("dossiertitle", value)' max-Length='2000' has-pattern='^[^#]*$' message='Cannot contain the # character'></text-input>
        <select-input label='Regulatory Table of Contents' values='$ctrl.toc'  main='valuedecode' is-required='true' on-update='$ctrl.update("tocId", value)'></select-input>
        <select-input label='Product' values='$ctrl.products' select-value='$ctrl.product' main='genericproductname' is-required='true' on-update='$ctrl.update("product", value)'></select-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>