<main role="main">
    <md-content class="md-padding" layout="column">
        <header layout="row" layout-align="center center" style="padding:10px; margin-bottom:20px">
            <img src="./img/GHSTS_logo.png" alt="GHSTS Logo" height="100%">
            <h1 style="padding-left:10px">Welcome to the GHSTS Submission Builder<h1>
        </header>

        <div layout-xs="column" layout="row">
            <a class="anchor-card"
            ng-href="#"
            flex>
                <md-card class="card"
                style="background-color: gray; opacity: 0.3; cursor: not-allowed">
                    <md-card-title layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-icon="add-black" aria-label="add new dossier"></md-icon>
                            <div class="card-header">New Dossier</div>
                        </div>
                    </md-card-title>
                </md-card>
            </a>

            <a class="anchor-card" ng-href="#" flex>
                <md-card class="card"
                style="background-color: gray; opacity: 0.3; cursor: not-allowed">
                    <md-card-title layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-icon="add-box-black" aria-label="add new submission"></md-icon>
                            <div class="card-header">New Submission</div>
                        </div>
                    </md-card-title>
                </md-card>
            </a>

            <div class="anchor-card"
            ng-click="_ctrl.showFilePicker()"
            flex>
                <md-card class="card"
                style="color: white; background-color: rgb(17, 98, 154)">
                    <md-card-title layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-icon="edit" aria-label="edit submission"></md-icon>
                            <div class="card-header">Edit Submission</div>
                        </div>
                    </md-card-title>
                </md-card>
            </div>

            <a class="anchor-card" ng-href="#" flex>
                <md-card class="card"
                style="background-color: gray; opacity: 0.3; cursor: not-allowed">
                    <md-card-title layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-icon="visibility-black" aria-label="edit submission"></md-icon>
                            <div class="card-header">View Submission</div>
                        </div>
                    </md-card-title>
                </md-card>
            </a>
        </div>

        <fieldset id="recents">
            <legend id="recent-legend">Recent</legend>
            <p class="recent-item" ng-repeat="recent in _ctrl.recents">
                {{ recent.title }}
            </p>
        </fieldset>

        <footer layout-xs="column" layout="row">
            <div flex-xs="100" layout-xs="column">
                <md-button class="md-raised config-button" style="background-color: #3d3d3d; color: white; cursor: not-allowed">Configurations</md-button>
            </div>
            <span flex></span>
            <div flex-xs="100" layout-xs="column">
                <md-button class="md-primary md-raised"
                    ng-click="_ctrl.showHelp()">Help</md-button>
                <md-button class="md-primary md-raised"
                    ng-click="_ctrl.showAbout()">About</md-button>
            </div>
        </footer>
    </md-content>
</main>
