<div class='extension-wrapper'>
  <select-input label='{{ $ctrl.label }}' values='$ctrl.values' select-value='$ctrl.selectValue' show-value='$ctrl.showValue' is-required='$ctrl.isRequired' on-update='$ctrl.updateSelected(value)'></select-input>
  <icon ng-if='!$ctrl.adding' icon='$ctrl.addButton' ng-click='$ctrl.toggleAdd()'></icon>
  <icon ng-if='$ctrl.adding' icon='$ctrl.cancelButton' ng-click='$ctrl.toggleAdd()'></icon>
</div>
<div class='extension-fields' ng-if='$ctrl.adding'>
  <text-input label='Value' text-value='$ctrl.value' is-required='true'on-update='$ctrl.update("value", value)'></text-input>
  <span>&nbsp;</span>
  <text-input label='Display Value (Optional)' text-value='$ctrl.valuedecode' on-update='$ctrl.update("valuedecode", value)'></text-input>
  <icon icon='$ctrl.saveButton' ng-click='$ctrl.savePicklistItem()'></icon>
</div>
<p class='error-message' ng-if='!$ctrl.valid'>There is already an item with this value</p>