@import './shadows.css';
@import './colors.css';
@import './fonts.css';
@import './animations.css';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 100%;
}

#app {
  height: 100%;
}

body {
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* --- MEDIA --- */
img {
  display: block;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.circular {
  border-radius: 50%;
}

/* --- DISPLAY --- */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

/* --- ALIGNMENT --- */
/* Absolute */
.a-left {
  position: absolute;
  left: 0;
}

.a-right {
  position: absolute;
  right: 0;
}

/* Flexbox */
.f-container {
  display: flex;
}

.f-start {
  justify-content: flex-start;
}

.f-cross-start {
  align-items: flex-start;
}

.f-end {
  justify-content: flex-end;
}

.f-center {
  justify-content: center;
}

.f-cross-center {
  align-items: center
}

.f-space {
  justify-content: space-around;
}

.f-stretch {
  align-items: stretch;
}

.f-middle {
  justify-content: center;
  align-items: center;
}

.f-gap {
  width: 5px;
}

.flex {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

/* Block Elements */
.b-center {
  margin: 0 auto;
}

.b-left {
  margin: 0 auto 0 0;
}

.b-right {
  margin: 0 0 0 auto;
}

.b-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Inline Elements */
.i-center {
  text-align: center;
}

.i-left {
  text-align: left;
}

.i-right {
  text-align: right;
}

.i-middle {
  vertical-align: middle;
}

.spacer {
  display: inline-block;
  width: 5px;
}

.clear {
  clear: both;
}

.sticky {
  position: sticky;
  top: 0;
}

/* --- OTHER --- */
.bottom-float {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 5;
}

.pad {
  padding: 5px;
}

/* --- SIZES --- */
.small {
  width: 44px;
  height: 44px;
}

.large {
  width: 64px;
  height: 64px;
}

/* --- PADDING --- */
.pane {
  padding: 5px;
  margin-bottom: 40px;
}

/* --- VISIBILITY --- */
.v-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* --- FIXES --- */
[hidden] {
  display: none;
}
