<md-dialog aria-label='Product RA' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>Product RA</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <text-input label='Product Name' is-required='true' text-value='$ctrl.node.productname' on-update='$ctrl.update("productname", value)'>
        </text-input>
        <select-input label='Receiver' main='shortname' select-value='$ctrl.node.toSpecificForRAId' values='$ctrl.receivers' on-update='$ctrl.update("toSpecificForRAId", value)'></select-input>
        <md-toolbar>
          <div class='md-toolbar-tools'>
            <h2>Admin Number</h2>
            <span flex></span>
            <md-button class='md-icon-button' ng-click='$ctrl.add("adminnumber")'>
              <md-icon md-svg-icon='add' aria-label='add dialog' class='light'></md-icon>
              <md-tooltip>Add Admin Number</md-tooltip>
            </md-button>
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item ng-repeat='adminnumber in $ctrl.node.adminnumber track by $index' class="noright">
            <fieldset>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Identifier</label>
                  <input ng-model='adminnumber.identifier' type='text' on-update='$ctrl.updateArray("identifier", $index, value)' />
                </md-input-container>
                <md-button aria-label='Delete Item' ng-click='$ctrl.deleteArray("adminnumber", $index, $event)'>
                  <md-icon md-svg-icon='delete' class='dark'></md-icon>
                  <md-tooltip>Delete Admin Number</md-tooltip>
                </md-button>
              </div>
              <div>
                <select-input-extensible label='Admin Number Type' select-value='adminnumber.adminnumbertype' on-update='$ctrl.updateArray("adminnumbertype", $index, value, "adminnumber")'
                  values='$ctrl.picklists.adminNumberType' show-value='true' type-name='EXTENSION_TYPE_ADMIN_NUMBER_TYPE' on-add='$ctrl.createPicklistItem("adminnumbertype", "adminNumberType", value, $index, "adminnumber")'>
                </select-input-extensible>
              </div>
            </fieldset>
          </md-list-item>
        </md-list>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>