$primary-color: #29743D;
$primary-color-light: #48905B;
$dark-text: rgba(0, 0, 0, 0.87);
$dark-text-disabled: rgba(0, 0, 0, 0.38);
$dark-icon: rgba(0, 0, 0, 0.54);
$dark-icon-disabled: rgba(0, 0, 0, 0.38);
$dark-divider: rgba(0, 0, 0, 0.08);
$light-text: rgba(255, 255, 255, 1.0);
$light-text-disabled: rgba(255, 255, 255, 0.7);
$light-icon: rgba(255, 255, 255, 1.0);
$light-icon-disabled: rgba(255, 255, 255, 0.5);
$light-divider: rgba(255, 255, 255, 0.12);

$light: #ddd;
$dark: #777;

$hover-color: rgba(255, 255, 255, 0.7);
$dark-hover-color: rgba(0, 0, 0, 0.08);
$selected-color: $primary-color-light;

$border-radius: 3px;