@import './constants.scss';

body {
  height: 100%;
}

.hover:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll-overflow {
  overflow-y: scroll;
}

.flex {
  flex: 1;
}

.center {
  text-align: center;
}

.node-page {
  h1 {
    margin: 0 0 15px 0;
  }

  margin: 10px 10px 80px 10px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.float-bottom {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 10;
}

md-switch {
  margin: 10px 0 0 0;
  padding: 0;
}

.md-icon-button.md-button {
  margin: 0;
  padding: 0;
  height: auto;
}

icon {
  margin: 0;
  padding: 0;
}

md-icon {
  width: auto;
}

.md-button {
  min-height: auto;
}

div.error-block {
  margin-top: 35px;
}

div.group-container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial
}

p.error-message {
  color: #dd2c00;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

md-dialog {
  z-index: 2;
}

md-switch.dark-switch.md-checked .md-bar {
  background-color: rgb(158, 158, 158);
}

md-switch.dark-switch.md-checked .md-thumb {
  background-color: rgba(255, 255, 255, 0.87);
}