body {
  height: 100%;
}

.hover:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll-overflow {
  overflow-y: scroll;
}

.flex {
  flex: 1;
}

.center {
  text-align: center;
}

.node-page {
  h1 {
    margin: 0 0 15px 0;
  }

  margin: 10px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.float-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

md-switch {
  margin: 10px 0 0 0;
  padding: 0;
}

.md-icon-button.md-button {
  margin: 0;
  padding: 0;
  height: auto;
}

icon {
  margin: 0;
  padding: 0;
}

md-icon {
  width: auto;
}