<section class='node-page'>
  <text-input label='Submission Title' is-required='true' text-value='$ctrl.selected.submissiontitle'></text-input>
  <text-input label='Submission Number' is-required='true' is-disabled='true' text-value='$ctrl.selected.submissionnumber'></text-input>
  <text-input label='Submission Version Number' is-required='true' is-disabled='true' text-value='$ctrl.selected.submissionversiondate'></text-input>
  <md-switch ng-model='$ctrl.selected.incremental' aria-label='Incremental' class='md-primary'>Incremental: {{$ctrl.selected.incremental}}</md-switch>
</section>