<section class='node-page'>
  <spinner ng-if='$ctrl.loading'></spinner>
  <div class='no-margin no-padding' ng-if='!ctrl.loading'>
    <sidenav items='$ctrl.records' selected='$ctrl.selected' main='filegeneric.filename' is-open='$ctrl.sidenavOpen' on-select='$ctrl.updateSelected(item)'
      on-add='$ctrl.add(item)'></sidenav>

    <div class='extension-wrapper'>
      <text-input label='{{"filefulllocation" | translate}}' is-disabled='true' is-required='true' text-value='$ctrl.selected._filereallocation'></text-input>
      <icon icon='$ctrl.listFileButton' ng-click='$ctrl.selectFile()'></icon>
    </div>
    <div class='extension-wrapper'>
      <text-input label='File PID' is-required='true' text-value='$ctrl.selected.filegeneric.filepid' on-update='$ctrl.update("filegeneric.filepid", value)'></text-input>
      <md-button class='md-raised md-primary' ng-click='$ctrl.genPid()'>Generate PID</md-button>
    </div>
    <text-input label='{{"filecompanyid" | translate}}' text-value='$ctrl.selected.filegeneric.filecompanyid' on-update='$ctrl.update("filegeneric.filecompanyid", value)' max-Length='255'></text-input>
    <select-input label='Content Status' is-required='true' select-value='$ctrl.selected.filegeneric.contentstatus' values='$ctrl.contentStatus'
      on-update='$ctrl.update("filegeneric.contentstatus", value)'></select-input>
    <text-input label='{{"replacedfilepid" | translate}}' text-value='$ctrl.selected.filegeneric.replacedfilepid' on-update='$ctrl.update("filegeneric.replacedfilepid", value)'></text-input>
    <select-input label='File Type' is-required='true' select-value='$ctrl.selected.filegeneric.filetype' values='$ctrl.fileType'
      on-update='$ctrl.update("filegeneric.filetype", value)'></select-input>
    <text-input label='{{"formatcomment" | translate}}' text-value='$ctrl.selected.filegeneric.formatcomment' on-update='$ctrl.update("filegeneric.formatcomment", value)' max-Length='255'></text-input>
    <text-input label='{{"md5checksum" | translate}}' is-disabled='true' text-value='$ctrl.selected.filegeneric.md5CHECKSUM' on-update='$ctrl.update("filegeneric.md5CHECKSUM", value)'></text-input>
    <text-input label='{{"filename" | translate}}' is-required='true' text-value='$ctrl.selected.filegeneric.filename' on-update='$ctrl.update("filegeneric.filename", value)'></text-input>
    <tbl ng-if='!$ctrl.loading' title='{{"fileRA" | translate}}' items='$ctrl.selected.filera' projection='[{name: "toSpecificForRAId", url: "receiver"}, "cbidesignation", "filecomment"]'
      on-select='$ctrl.selectTblItem("filera",index)' on-delete='$ctrl.deleteTblItem("filera",index)' on-add='$ctrl.addTblItem("filera")'></tbl>
    <div style='z-index:100' class='float-bottom'>
      <md-button aria-label='Save' class='md-fab md-primary' ng-click='$ctrl.save()'>
        <md-icon md-svg-icon='save' class='light'></md-icon>
      </md-button>
      <md-button aria-label='Add New Item' class='md-fab md-primary' ng-click='$ctrl.add("file")'>
        <md-icon md-svg-icon='add' class='light'></md-icon>
      </md-button>
      <md-button aria-label='Toggle List' class='md-fab md-primary' ng-click='$ctrl.toggleList()'>
        <md-icon md-svg-icon='list' class='light'></md-icon>
      </md-button>
    </div>
  </div>
</section>