<md-input-container class='md-block no-margin' ng-class='{ "md-input-invalid": !$ctrl.validPattern || $ctrl.exceededLimit }'>
  <label for='{{ $ctrl.label }}'>{{ $ctrl.label }}</label>
  <input class='md-block'
  name='{{ $ctrl.label }}'
  type='text'
  ng-required='$ctrl.isRequired'
  ng-disabled='$ctrl.isDisabled'
  ng-model='$ctrl.textValue'
  ng-change='$ctrl.update()'>
  <div class='error-block'>
    <p class='error-message' ng-if='$ctrl.exceededLimit'>Exceeded character limit of {{ $ctrl.maxLength }}</p>
    <p class='error-message' ng-if='$ctrl.hasPattern && !$ctrl.validPattern'>{{ $ctrl.message }}</p>
  </div>
</md-input-container>
