text-input {
  flex: 1;
  margin: 0;
  padding: 0;
}

md-input-container.custom-container {
  margin: 0 0 20px 0;
  padding: 1;
}

div.input-wrapper {
  padding: 0;
  margin: 0 0 -20px 0;
}

div.error-block {
  margin-top: 35px;
}

p.error-message {
  color: #dd2c00;
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
}