@import '../../../scss/constants.scss';

md-sidenav md-list {
  padding-top: 0;
}

md-sidenav md-input-container {
  margin: 20px 10px;
}

md-icon.text-icon {
  width: 24px;
}

md-sidenav.custom-sidenav {
  max-width: 80%;
}

.sidenav-close-button {
  width: 24px;
  position: absolute;
  right: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.selected {
  background-color: $primary-color;
  color: rgba(255,255,255,0.87);
}