<md-sidenav class='md-sidenav-left custom-sidenav' md-disable-backdrop md-is-open='$ctrl.isOpen' md-component-id='left' md-whiteframe='4'>
  <md-icon class='sidenav-close-button' ng-click='$ctrl.toggleOpen()' md-svg-icon='close'></md-icon>
  <md-input-container class='md-icon-float md-block'>
    <label for='searchBar'>Search</label>
    <md-icon class='text-icon' md-svg-icon='search'></md-icon>
    <input type='text' name='searchBar' ng-model='$ctrl.searchText'>
  </md-input-container>
  <md-divider></md-divider>
  <md-list ng-if='$ctrl.items'>
    <md-list-item ng-repeat='item in $ctrl.items | filter:$ctrl.searchText | orderBy:item[$ctrl.getMain(item)]' ng-click='$ctrl.select(item)'>
      <p>{{ $ctrl.getMain(item) }}</p>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-sidenav>