<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="row tree-node tree-node-content" ng-style="node.isRoot && {'border' : '2px solid #7c9eb2'}">

        <a class="nodewidget btn btn-success btn-xs" ng-if="node.TOC_NODE && node.TOC_NODE.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                    ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
        <a class="btn btn-primary btn-xs doc" ng-if="node.isDocument">
            <span class="glyphicon glyphicon-file"></span>
        </a>
        <a class="nodewidget" style="padding-right:10px" ng-if="node.nrDocs > 0">
            <span class="badge">{{node.nrDocs}}</span>
        </a>

        <span ng-style="node.isDocument && {'color' : 'indianred'} || node.isRoot && {'font-weight' : 'bolder'}">{{getNodeTitle()}}</span>

    </div>
    <ol ui-tree-nodes="" ng-model="node.TOC_NODE" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.TOC_NODE" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div class="row">
    <div class="col-sm-12">
        <h3>Table of Content</h3>
        <button ng-click="expandAll()">Expand all</button>
        <button ng-click="collapseAll()">Collapse all</button>
        <button ng-click="loadToc()">Load Table of Content</button>
        <button ng-click="clearToc()">Clear Table of Content</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div ui-tree id="tree-root">
            <ol ui-tree-nodes ng-model="data">
                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>
