<md-dialog aria-label="Product Regulatory Specifics" ng-cloak>
    <form name="productRAForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons" aria-label="Add Regulatory Authority">business</md-icon>
                </md-button>
                <h2>Product Regulatory Authority</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="_ctrl.cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content class="autoScroll">
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label for="ra">Regulatory Authority</label>
                    <md-select
                    name="ra"
                    ng-model="_ctrl.productRA._toReceiverRaId">
                        <md-option
                        ng-repeat="ra in _ctrl.receiversWithNames"
                        value="{{ ra.xsId }}"
                        ng-selected="{{ ra.xsId === _ctrl.productRA._toReceiverRaId }}">
                            {{ ra.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>RA's Name for this Product</label>
                    <input ng-model="_ctrl.productRA.PRODUCT_NAME" ng-required="true" type="text">
                </md-input-container>
                
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Admin Number</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="_ctrl.addAdminNumber($event)">
                            <md-icon class="material-icons" aria-label="Add Admin Number">
                                add_circle
                            </md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                
                <md-list>
                    <md-card 
                    style="padding: 10px"
                    ng-repeat="adminNumber in _ctrl.productRA.ADMIN_NUMBER track by $index">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex>
                                <label>Identifier</label>
                                <input ng-model="adminNumber.IDENTIFIER" type="text">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Admin Number Type</label>
                                <md-select 
                                name="adminNumberType"
                                ng-model="adminNumber.ADMIN_NUMBER_TYPE.VALUE" 
                                ng-change="_ctrl.updateAdminNumber(adminNumber)">
                                    <md-option 
                                    ng-repeat="adminNumberType in _ctrl.adminNumberTypes" 
                                    value="{{ adminNumberType.VALUE }}"
                                    ng-selected="{{ adminNumber.ADMIN_NUMBER_TYPE.VALUE === adminNumberType.VALUE }}">
                                        {{ adminNumberType.VALUE_DECODE }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container
                            ng-show="adminNumber.ADMIN_NUMBER_TYPE.VALUE === _ctrl.getOtherValue()" 
                           flex="50">
                                <label>Display Value</label>
                                <input
                                type="text"
                                ng-model="adminNumber.ADMIN_NUMBER_TYPE.VALUE_DECODE">    
                            </md-input-container>
                            <md-input-container
                            ng-show="adminNumber.ADMIN_NUMBER_TYPE.VALUE === _ctrl.getOtherValue()"
                            flex="50">
                                <label>Encoded Value (optional)</label>
                                <input
                                type="text"
                                ng-model="adminNumber.ADMIN_NUMBER_TYPE.ATTR_VALUE">
                            </md-input-container>
                            <md-button 
                            class="md-secondary md-raised"
                            style="width: 97%"
                            ng-click="_ctrl.deleteAdminNumber(adminNumber, $event)">
                                Delete
                            </md-button>
                        </div>
                    </md-card>
                </md-list>
                
                <md-divider>
                    
                <div layout="row">
                    <md-button 
                    class="md-raised md-primary" 
                    style="width: 97%"
                    ng-click="_ctrl.saveProductRA($event)">
                        Save
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>