<md-dialog aria-label='Product Regulatory Specifics' ng-cloak>
    <form name='productRAForm'>
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <md-button class='md-icon-button'>
                    <md-icon class='material-icons' aria-label='Add Regulatory Authority'>business</md-icon>
                </md-button>
                <h2>Product Regulatory Authority</h2>
                <span flex></span>
                <md-button class='md-icon-button' ng-click='_ctrl.cancel()'>
                    <md-icon class='material-icons' aria-label='Close dialog'>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class='autoScroll'>
            <div class='md-dialog-content'>
                <div>
                    <md-input-container class='md-block' flex-gt-sm>
                        <label>Product Name</label>
                        <input ng-model='_ctrl.productRA.PRODUCT_NAME' ng-required='true' type='text'>
                    </md-input-container>
                    <md-toolbar>
                        <div class='md-toolbar-tools'>
                            <h2>Admin Number</h2>
                            <span flex></span>
                            <md-button class='md-icon-button' ng-click='_ctrl.addAdminNumber($event)'>
                                <md-icon class='material-icons' aria-label='Add Admin Number'>add_circle</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div layout-algin='center'>
                        <md-list>
                            <md-list-item ng-repeat='adminNumber in _ctrl.productRA.ADMIN_NUMBER' class='noright'>
                                <div class='row'>
                                    <!-- There are issues with flex inside the md-dialog, aligning md-button after md-input-container throws off alignment, so used bootstraps class='row' instead of md layout='row' -->
                                    <md-input-container class='md-block'>
                                        <label>Identifier</label>
                                        <input ng-model='adminNumber.IDENTIFIER' type='text'>
                                    </md-input-container>
                                    <md-input-container class='md-block'>
                                        <label>Admin Number Type</label>
                                        <input ng-model='adminNumber.ADMIN_NUMBER_TYPE.VALUE_DECODE' type='text'>
                                    </md-input-container>
                                    <md-button class='md-secondary md-raised' ng-click='_ctrl.deleteAdminNumber(adminNumber, $event)'>Delete</md-button>
                                </div>
                            </md-list-item>
                        </md-list>
                        <div layout='row' layout-align='center'>
                            <md-button class='md-raised' layout-align='center' ng-click='_ctrl.saveProductRA($event)'>
                                Save
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>