@import '../../../scss/constants';

// md-tabs md-ink-bar {
//   color: $primary-color;
//   background-color: $primary-color;
// }

// navbar > nav {
//   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
// }

// md-tab.active {
//   border-bottom: 1px solid $primary-color;
// }

.node-nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    li {
      padding: 12px 12px 10px 12px;
      text-decoration: none;
      text-align: center;
      flex: 1;
    }

    li:hover {
      cursor: pointer;
      background-color: $hover-color;
    }

    li.active {
      border-bottom: 2px solid $primary-color;
    }
  }
}