<md-dialog aria-label='new dossier' flex='80'>
    <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">XML Validation Error</h2>
    </div>
  </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
          <div ng-repeat='data in $ctrl.err.data'>
            <p>{{data.dataPath.replace('.value.', '') + ' ' + data.message}}</p>
          </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
    </md-dialog-actions>
</md-dialog>