<section class='node-page'>
  <spinner ng-show='$ctrl.$scope.$root.loading'></spinner>
  <div class='no-margin no-padding' ng-show='!$ctrl.$scope.$root.loading'>
    <text-input label='Submission Title' is-required='true' text-value='$ctrl.selected.submissiontitle'></text-input>
    <text-input label='Submission Number' is-required='true' is-disabled='true' text-value='$ctrl.selected.submissionnumber'></text-input>
    <text-input label='Submission Version Number' is-required='true' is-disabled='true' text-value='$ctrl.selected.submissionversiondate'></text-input>
    <md-switch ng-model='$ctrl.selected.incremental' aria-label='Incremental' class='md-primary'>Incremental: {{$ctrl.selected.incremental}}</md-switch>
  </div>
  <div class='float-bottom'>
    <md-button aria-label='Save' class='md-fab md-primary' ng-click='$ctrl.save()'>
      <md-icon md-svg-icon='save' class='light'></md-icon>
    </md-button>
  </div>
</section>