<md-dialog aria-label='dossier regulatory authority' flex='80'>
  <form ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <h2>{{"referenceddocument" | translate}}</h2>
        <span flex></span>
        <md-button class='md-icon-button' ng-click='$ctrl.cancel()'>
          <md-icon md-svg-icon='close' aria-label='close dialog' class='light'></md-icon>
          <md-tooltip>Close</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class='md-dialog-content'>
        <select-input 
            label='{{"referencetype" | translate}}' 
            is-required='true'
            select-value='$ctrl.node.referencetype' 
            values='$ctrl.picklists.referenceTypeOptions' 
            on-update='$ctrl.update("referencetype", value)'>
         </select-input>

        <md-switch ng-model='$ctrl.node.internal'
                    aria-label='{{"internal" | translate}}' 
                    class='md-primary' 
                    ng-change='$ctrl.printValue()'>
            {{"internal" | translate}} : {{$ctrl.node.internal}}
            <md-tooltip>True or False</md-tooltip>
        </md-switch>

        <text-input 
            label='{{"documentpid" | translate}}'
            text-value='$ctrl.node.documentpid' 
            on-update='$ctrl.update("documentpid", value)'>
        </text-input>
        <select-input-extensible 
                label='{{"documentnumbertype" | translate}}' 
                is-required='true'
                select-value='$ctrl.node.documentnumber.documentnumbertype'         
                on-update='$ctrl.updateSubArray("documentnumbertype", value, "documentnumber")'
                values='$ctrl.picklists.documentNumberTypeOptions' 
                type-name='EXTENSION_TYPE_DOCUMENT_NUMBER_TYPE' 
                on-add='$ctrl.createPicklistItem("documentnumbertype", "documentNumberTypeOptions", value)'>
        </select-input-extensible>
        <text-input 
            label='{{"identifier" | translate}}' 
            is-required='true'
            text-value='$ctrl.node.documentnumber.identifier' 
            on-update='$ctrl.updateSubArray("identifier", value, "documentnumber")' 
            max-Length='25'>
        </text-input>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <span flex></span>
      <md-button ng-click='$ctrl.confirm()'>Okay</md-button>
      <md-button ng-click='$ctrl.cancel()'>Cancel</md-button>
    </md-dialog-actions>
    
  </form>
</md-dialog>