@import 'constants';

edit {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.splash {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidenav-navs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 10px #555;
  :hover {
    background-color: $hover-colour;
    cursor: pointer;
  }
}

.sidenav-item {
  padding-top: 15px;
  text-align: center;
  flex: 1;
}

.active-nav {
  background-color: $accent-colour;
  border-bottom: 2px solid $primary-colour;
}

