@import 'angular-material';
@import 'sidenav';
@import 'search-list';

@import 'fixes';

@import 'constants';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

a {
  text-decoration: none;

  :hover {
    cursor: pointer;
  }
}

section {
  section {
    h1 {
      font-size: $section-header-size;
    }
  }
}

hr {
  border-color: blue;
}

icon-button {
  display: inline-block;
}

.stretch-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.stretch-row {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  flex: 1;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card-button:hover {
  background-color: $hover-colour;
}

.input-padding {
  padding-bottom: 0px;
  margin: 20px 20px 0px 10px;
}

.primary {
  color: $primary-colour;

  svg {
    fill: $primary-colour;
  }
}

.accent {
  color: $accent-colour;

  svg {
    fill: $accent-colour;
  }
}

.light {
  color: $light-colour;

  svg {
    fill: $light-colour;
  }
}

.dark {
  color: $dark-colour;

  svg {
    fill: $dark-colour;
  }
}

.icon-spacer {
  margin-right: 10px;
}

submission {
  padding: 10px;
}

