.no-display {
    cursor: default;
}

.card-header {
    padding: 5px;
}

.anchor-card {
    text-decoration: none;
    color: black;
}

.anchor-card:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.card:hover {
    background-color: #ddd;
}

.list-item-card {
    padding: 10px;
}

#recents {
    margin: 20px 10px 30px 10px;
    border: 1px solid #ddd;
}

#recent-legend {
    font-style: italic;
    width: auto;
    margin-left: 10px;
    padding: 0px 5px;
    border-bottom: none;
}

.recent-item {
    padding: 0px 15px;
    width: 100%;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary {
    color: #043d13;
}

.primary-background {
    background-color: #b4b4b4;
}

.accent {
    color: #b4b4b4;
}

.accent-background {
    background-color: #b4b4b4;
}

.primary>svg {
    fill: #043d13;
}

.accent>svg {
    fill: #b4b4b4;
}

.white>svg {
    fill: white;
}

.black>svg {
    fill: #999;
}
