<main layout-fill layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Home" ng-href="#/manage">
                <md-icon class="material-icons" aria-label="back">navigate_before</md-icon>
            </md-button>
            <md-headline layout-padding> {{ _ctrl.selected.GENERIC_PRODUCT_NAME }}</md-headline>
        </div>
    </md-toolbar>

    <md-content layout-padding class="autoScroll">
        <form>
            <div>
                <md-input-container class="md-block" flex>
                    <label>Generic Product Name</label>
                    <input ng-model="_ctrl.selected.GENERIC_PRODUCT_NAME" type="text" ng-required="true">
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex>
                    <label>PID</label>
                    <input ng-model="_ctrl.selected.PRODUCT_PID" type="text" ng-required="true" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Status</label>
                    <md-select
                    name="productStatus"
                    id="productStatus"
                    ng-model="_ctrl.selected.METADATA_STATUS.VALUE_DECODE"
                    ng-change="_ctrl.updateMetadataValue()">
                        <md-option
                        ng-repeat="status in _ctrl.metadataStatusOptions"
                        ng-value="status.VALUE">
                            {{ status.VALUE_DECODE }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container class="md-block">
                    <label for="formulationType">Formulation Type</label>
                    <md-select
                    name="formulationType"
                    id="formulationType"
                    ng-model="_ctrl.selected.FORMULATION_TYPE.VALUE"
                    ng-change="_ctrl.updateFormulation()">
                        <md-option
                        ng-repeat="formulationType in _ctrl.formulations"
                        ng-value="formulationType.VALUE">
                            {{ formulationType.VALUE }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div
                style="padding-top:5px;"
                layout-gt-sm="row"
                ng-show="_ctrl.selected.FORMULATION_TYPE.VALUE === _ctrl.getOtherValue()">
                    <md-input-container
                    class="md-block"
                    flex>
                        <label for="formulationValueDecode">Display Value</label>
                        <input
                        ng-model="_ctrl.selected.FORMULATION_TYPE.VALUE_DECODE"
                        id="formulationValueDecode"
                        type="text">
                    </md-input-container>
                    <md-input-container
                    class="md-block"
                    flex>
                        <label for="formulationValue">Encoded Value (optional)</label>
                        <input
                        ng-model="_ctrl.selected.FORMULATION_TYPE.ATTR_VALUE"
                        id="formulationValue"
                        type="text">
                    </md-input-container>
                </div>
            </div>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Ingredients</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="_ctrl.addIngredient()">
                        <md-icon class="material-icons" aria-label="Add Identifier">add_circle</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list>
                <md-card ng-repeat="ing in _ctrl.selected.INGREDIENTS track by $index" style="padding: 10px">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label for="substances">Substance</label>
                            <md-select
                            name="substances"
                            ng-model="ing._toSubstanceID">
                                <md-option
                                ng-repeat="substance in _ctrl.substances"
                                value="{{ substance._identifier }}"
                                ng-selected="{{ substance._identifier === ing._toSubstanceID }}">
                                    {{ substance.SUBSTANCE_NAME }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container
                        class="md-block"
                        flex>
                            <label>Amount</label>
                            <input
                            ng-model="ing.QUANTITY"
                            type="text">
                        </md-input-container>
                        <md-input-container
                        class="md-block"
                        flex>
                            <label>Unit</label>
                            <md-select
                            name="unit"
                            ng-model="ing.UNIT.VALUE"
                            ng-change="_ctrl.updateUnit(ing)">
                                <md-option
                                ng-repeat="u in _ctrl.units"
                                value="{{ u.VALUE }}"
                                ng-selected="{{ u.VALUE === ing.UNIT.VALUE }}">
                                    {{ u.VALUE }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div
                        layout-gt-sm="row"
                        flex-gt-sm="50"
                        ng-show="ing.UNIT.VALUE === _ctrl.getOtherValue()">
                            <md-input-container
                            class="md-block"
                            flex>
                                <label for="unitValueDecode">Display Value</label>
                                <input
                                id="unitValueDecode"
                                type="text"
                                ng-model="ing.UNIT.VALUE_DECODE">
                            </md-input-container>
                            <md-input-container
                            class="md-block"
                            flex>
                                <label for="unitValue">Encoded Value (optional)</label>
                                <input
                                id="unitValue"
                                type="text"
                                ng-model="ing.UNIT.ATTR_VALUE">
                            </md-input-container>
                        </div>
                    </div>
                    <md-button
                    class="md-secondary md-raised"
                    layout-align="center"
                    ng-click="_ctrl.deleteIngredient(ing._toSubstanceID, $event)">
                        Delete
                    </md-button>
                </md-card>
            </md-list>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Regulatory Authority Specifics</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="_ctrl.addProductRA($event)">
                        <md-icon class="material-icons" aria-label="Add Regulatory Authority">add_circle</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list>
                <md-list-item ng-repeat="ra in _ctrl.selected.PRODUCT_RA track by $index" ng-click="_ctrl.showProductRADiag(ra, $event)"
                    class="noright">
                    <md-icon class="material-icons" aria-label="Regulatory Authority">business</md-icon>
                    <p>{{ ra.PRODUCT_NAME }}</p>
                    <md-button class="md-secondary md-raised" ng-click="_ctrl.deleteProductRA(ra, $event)" aria-label="Delete Regulatory Authority">
                        Delete
                    </md-button>
                </md-list-item>
            </md-list>

            <md-divider>

            <div layout="row" layout-sm="column" layout-align="center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="_ctrl.saveProduct()">Save</md-button>
                <md-button class="md-raised md-primary" ng-click="_ctrl.viewProductGHSTS()">View Product GHSTS</md-button>
            </div>
        </form>
    </md-content>
</main>
